<template>
    <div id="app">
        <div class="nav-item">
            <router-link class="nav-link" to='/login'>ورود</router-link>
        </div>
        <intro></intro>
        <features/>
        <testimonials/>
        <foot/>
    </div>
</template>

<script>

    import Intro from '../components/Intro.vue'
    import Features from '../components/Features.vue'
    import Foot from "../components/Foot.vue";

    export default {
        name: 'HomePage',
        components: {
            Intro,
            Features,
            Foot

        }
    }
</script>

<style>
    #app {
    }
</style>
