<template>
    <div>
        login page
        <nav>
            <router-link class="nav-link" to='/registration'>ثبت نام</router-link>
        </nav>
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name: "Login"
    }
</script>

<style scoped>

</style>