<template>
    <div>
        <p>ویژگی‌ ها</p>
        <ul>
            <li>f1</li>
            <li>f2</li>
            <li>f3</li>
            <li>f4</li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "Features"
    }
</script>

<style scoped>
    ul {
        text-align: right;
    }
</style>