<template>
    <div>
        <p>ما را در فیسبوک دنبال کنید</p>
        <p>فارسی ریدز ۲۰۲۰</p>
    </div>
</template>

<script>
    export default {
        name: "Foot"
    }
</script>

<style scoped>

</style>