<template>
    <div class="row">
        <img :src="introImage">
    </div>

</template>

<script>

    export default {
        name: 'Intro',
        data() {
            return {
                introImage: require('@/assets/introImage.jpg')
            }}
    }
</script>

<style scoped>
    .row {
        text-align: right;
    }
</style>