<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-ligh">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <router-link class="nav-link" to='/'>خانه<span class="sr-only">(current)</span></router-link>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">بلاگ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">کتابها</a>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link disabled" to='/'>لذت کتاب</router-link>
                    </li>
                </ul>
            </div>
        </nav>
        <router-view></router-view>

    </div>
</template>


<script>
    export default {
        name: 'AppNav'
    }
</script>


<style>
    .col-sm {
        text-align: right;
    }
</style>