<template>

    <div class="row">
        <app-sidebar class="col-4"></app-sidebar>
        <app-content class="col-8"></app-content>
    </div>

</template>


<script>
    import AppSidebar from './Sidebar.vue'
    import AppContent from './Content.vue'

    export default {
        name: 'AppView',
        components: {
            AppSidebar,
            AppContent
        }
    }
</script>


<style scoped>
    .row {
        text-align: right;
    }
</style>
